{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        InterPay Iran
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/registeration_form.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/ipay-favicon.ico' %}"/>
    {% block CSS %}
    {% endblock %}


    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    {% block JS %}
    {% endblock %}



    <style>
        {% ifequal LANGUAGE_CODE 'fa-ir' %}
            .form-wrapper {
                text-align: right !important;
            }

            #sidebar-entries {
                padding-right: 10px;
                padding-left: 0 !important;
            }

            .sidebar-entry {
                text-align: right;
                direction: rtl;
            }

            #logout {
                float: left !important;
            }

            #name {
                float: right !important;
            }

            #interpay-id {
                float: right !important;
            }
        {% endifequal %}
    </style>

    {% block style %}
    {% endblock %}
</head>

<body style="background: #f9f9f9">
<script>
    $(document).ready(function () {
        $("#national_code").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                        // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                        // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        $("#mob_no").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                        // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                        // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });
        {#        $(function () {#}
        {#            $("#id_date_of_birth").datepicker("show");#}
        {#            $("#format"id_date_of_birth").datepicker("option", "dateFormat", $(this).val());#}
        {#            });).change(function () {#}
        {#                $("##}
        {#        });#}
        {#        console.log("k");#}
        {#        $("#id_date_of_birth").click(function () {#}
        {#            console.log("hi");#}
        {#            $("#id_date_of_birth").datepicker("show");#}
        {#        });#}
    });

    function to_en() {
        var en_url = window.location.href.replace("/fa-ir/", "/");
        window.location.assign(en_url);
    }

    function id_card_submit_btn() {
        console.log("hey");
        $('#id_national_card_photo').click();
    }
</script>
<header>
    <div class="top-bar">
        <div class="container" style="color: white;">
            <div id="logo-bar">
                <img src="/static/images/logo.png" style="width: 10%">
                <!--The translation part is commented out until it's bug being fixed -->
                {#                <div id="translation-link">#}
                {#                    {% ifequal LANGUAGE_CODE  'en-gb' %}#}
                {#                        <a id="to-fa-link" href='/fa-ir{{ request.path }}'><img src="../static/images/irflag.png"#}
                {#                                                                                style="width: 50%;cursor: pointer"></a>#}
                {#                    {% else %}#}
                {#                        <a id="to-en-link" class="trans-link" onclick="to_en()"><img src="../static/images/ukflag.png"#}
                {#                                                                                     style="width: 50%;cursor: pointer"></a>#}
                {#                    {% endifequal %}#}
                {#                </div>#}
            </div>
            {#            <div class="row">#}
            {#                <div id="number" class="col-sm-6 col-xs-4"></div>#}
            {#                <div id="social" class="col-sm-6 col-xs-8"></div>#}
            {#            </div>#}

        </div>
    </div>
    <nav></nav>

</header>
<section>
    <div class="container">
        {% if registered %}
            <div class="row">
                <div class="col-xs-12" id="reg-wrap-wrap-div">
                    <div class="form-wrapper" style="text-align: center">
                        <strong>{{ thanks_msg }}</strong>
                        <hr>
                        {#                        <a class="btn-link" href="/home">{% trans 'Launch to your homepage' %}</a><br/>#}

                        {#                        {% ifequal LANGUAGE_CODE  'en-gb' %}#}
                        <a class="btn-link" href="/home/">{{ redirect_to_home_msg }}
                            {#                        {% else %}#}
                            {#                            <a class="btn-link" href="/fa-ir/home/">#}
                            {#                        {% endifequal %}#}
                            {#                        {% trans 'Launch to your homepage' %}#}
                        </a><br/>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                {% block main-cont %}
                    <div class="col-xs-12" id="reg-wrap-wrap-div">
                        <div class="form-wrapper">
                            <div></div>
                            <div id="reg-top-icon" style="margin: 5px;font-size: larger">
                                <i class="fa fa-users" aria-hidden="true"
                                   style="padding-right: 5px"></i>
                                {% trans 'New User Registration' %}
                            </div>
                            {% block message %}
                            {% endblock %}
                            <hr>
                            <form enctype="multipart/form-data" id="registration_form" method="post"
                                  action="/register/" > {% csrf_token %}
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                                <p>
                                    <input id="id-card-submit-btn" type="button"
                                           value="{% trans 'Upload your Identification Card photo' %}"
                                           class="registration-form-field btn btn-primary"
                                           onclick="id_card_submit_btn()">
                                </p>

                                <div id="submit-btn-wrap" style="text-align: center">
                                    <input id="submit-btn" class="btn btn-success" type="submit" name="submit"
                                           value="{% trans 'Sign Up' %}"/>
                                </div>
                            </form>
                            <a></a>

                            <div></div>
                            <div></div>
                        </div>
                        <div class="login-register-div">
                            <h6>{% trans 'Already have an account?' %}</h6>
                            <a class="register-login-link" href="/login/">{% trans 'Sign In!' %}</a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endif %}
    </div>
</section>
{#TODO this part should be fixed ASAP#}
{#<footer id="footer" class="footer">#}
{#    <div id="footer-content">All rights reserved.</div>#}
{#</footer>#}
</body>
</html>